@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700;800&family=Merriweather+Sans:ital,wght@0,400;0,600;1,800&family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');



.quote-container{
    color: rgba(255, 255, 255, 0.801);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.quote-item{
    word-wrap: break-word;
    font-family: 'Merriweather', serif;
    width: 60%;
    max-width: 70%;
    margin: 4% 0;
    padding: 2.5% 5%;
    text-align: left;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(61, 61, 61, 0.4);
    border-radius: 12px;
    border-radius: 1.5rem;
    line-height: 2;
}


.quote-author{
    vertical-align: middle;
    display: inline-flex;
    float: right;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.801);
    text-transform: capitalize;
    font-family: "Merriweather Sans";
    font-size:1.5rem;
    width: max-content;
    margin-top: 1rem;
}

.quote-author > hr{
    vertical-align: middle;
    transform: rotate(90deg);
    text-align: right;
    color:  rgba(255, 255, 255, 0.801);
    font-weight: 600;
    margin-right:2rem ;
}

.quote-content{
    font-size: 1.5rem;
    text-align: justify;
    font-family: "Merriweather";
}

.author-icon-container >ul{
    display: inline-flex;
    list-style: none;
    margin-top: 1rem;
}
.author-icon-container ul li{
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.458);
    padding-right: 1.5rem;
    font-size: 1.5rem;
}

.heart:hover{
    color: #FF0000;
}

.share:hover{
    color:white;
}

.copy:hover{
    color:white;
}

.heart-clicked{
    color: red;
}


@media (max-width: 1000px) {
    .quote-container{
        width: 100%;
    }
}

@media (min-width: 350px) and (max-width: 430px) {
    .quote-content{
        font-size: 1rem;
    }
    .quote-author{
        font-size: 1rem;
    }
}